chartsVersions:
  ci_spring_demo: 1.0.2

#chartsVersions:
#{{ if eq (requiredEnv "KIP_ENV_ID") "kip0" }}
#  ci_spring_demo: 1.1.0-snap-8d344f8-3-ge2fbab6
#{{ else if eq (requiredEnv "KIP_ENV_ID") "kip1" }}
#  ci_spring_demo: 1.0.2
#{{ else if eq (requiredEnv "KIP_ENV_ID") "kip2" }}
#  ci_spring_demo: 1.0.2
#{{ else }}
#  ci_spring_demo: 1.0.2
#{{ end }}
